.task-edit-container
	width 600px

#add-edit-task
	padding 0px 0px 0px 15px
	
.table-tasks thead tr
	background-color #f9f9f9

.table-tasks tbody tr.hover
	background-color #fcf8e3
	
.task-op-btn-group
	text-align left
	margin-left 20px
	
.table tr.second-row td
	border-top none
	padding-top 0px

dl.dl-horizontal.task-desc
	margin-top 0px
	margin-bottom 0px
	
dl.dl-horizontal.task-desc dt
	width 100px
	font-size 13px
	
dl.dl-horizontal.task-desc dd
	margin-left 110px
	
th.task-order
	width 20px
	
th.task-priority
	width 90px
	
th.task-date
	width 120px

th.task-status
	width 100px
	
.desc-time
	color #999
	font-size 11px
	
.desc-content
	color #3a87ad
	font-size 14px
	text-indent 15px
	
.task-op-items
	display none

.task-op-items ul
	margin 0px
	text-align right
	
.task-op-items ul li
	cursor pointer