.task-edit-container
	width 600px

#add-edit-task
	padding 0px 0px 0px 15px
	
.table-tasks thead tr
	background-color #f9f9f9

.table-tasks tbody tr.hover
	background-color #fcf8e3
	
.task-op-btn-group
	text-align right
	margin-right 0px
	margin-bottom 3px
	
.table tr.second-row td
	border-top none
	padding-top 0px

dl.dl-horizontal.task-desc
	margin-top 0px
	margin-bottom 0px
	
dl.dl-horizontal.task-desc dt
	width 100px
	font-size 13px
	
dl.dl-horizontal.task-desc dd
	margin-left 110px
	
th.task-order
	width 20px
	
th.task-priority
	width 90px
	
th.task-date
	width 160px

th.task-status
	width 100px
	
.desc-time
	color #999
	font-size 11px
	
.desc-content
	color #3a87ad
	font-size 13px
	text-indent 15px
	
.task-op-items
	display none

.task-op-items ul
	margin 0px
	text-align right
	
.task-op-items ul li
	cursor pointer

.my-task-grounp-title
	margin-bottom 0px

.my-task-grounp-title li.active
	font-weight bold
	font-size 13px
	
.my-task-grounp-title.unfinished li.active
	color #b94a48
	
.my-task-grounp-title.finished li.active
	color #468847
	
.my-task-grounp-title[dataType=all]
	margin-top 50px

.task-number-mark
	background-repeat no-repeat
	background-position-y 5px
	
.task-number-mark[status-mark=a1]
	background-image url("/images/icon/check.png")
	
.task-number-mark[status-mark=a2]
	background-image url("/images/icon/progress_bar.png")
	background-position-y 18px

.task-number-mark[status-mark=a3]
	background-image url("/images/icon/block.png")
