.mytool-op-btn-group
	text-align right
	margin-bottom 3px
	
#add-edit-tool .control-group .control-label
	width 120px
	
#add-edit-tool .control-group .controls
	margin-left 135px
	
#add-edit-tool #tool-name
	width 400px
	
#add-edit-tool #tool-description
	width 400px
	height 100px