.sql-single-param
	display block
	
.sql-single-param-label
	display inline-block
	width 150px
	
.sql-single-param-content
	display inline-block
	
.sql-detail-operation-container
	text-align right
	margin-right 15px

.sql-detail-run-result-container
	width 100%
	overflow-x auto
	margin-top 10px
	
.desc-title-label
	width 100px
	display table-cell
	text-align right
	margin-right 15px
	float left

.desc-title-content
	display table-cell
	margin-left 115px
	
.sql-detail-db-conn-item-single
	display table-cell
	
.sql-detail-db-conn-item-single .db-conn-item-label
	width 120px
	display table-cell
	text-align right
	padding-right 15px
	
.sql-detail-db-conn-item-single .db-conn-item-content
	display table-cell