#resource-left-menu-home {
  margin-left: -15px;
}
ul.jqtree-tree .jqtree-toggler {
  left: 0px;
}
ul.jqtree-tree li.jqtree-folder .jqtree-title {
  color: #08c;
  word-break: break-all;
  word-wrap: break-word;
  margin-left: 14px;
}
ul.jqtree-tree .jqtree-element {
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#add-edit-menu-article .control-label {
  width: 10%;
}
#add-edit-menu-article .controls {
  margin-left: 15%;
  width: 80%;
}
#add-edit-menu-article .controls input,
#add-edit-menu-article .controls textarea {
  width: 100%;
}
#add-edit-menu-article-submit {
  float: right;
}
.my-edit-menu {
  display: none;
  float: right;
  margin-top: -3px;
  cursor: pointer;
}
#resource-item-lists {
  margin-top: 40px;
  padding-left: 15px;
}
#resource-item-lists.resource-item-lists-top {
  margin-top: 10px;
}
.article-title {
  padding: 0 0 0 5px;
  margin-bottom: 5px;
}
.article-add-date {
  float: right;
  width: 150px;
  text-align: right;
  margin-right: 15px;
}
.article-summary {
  padding-left: 25px;
}
.article-summary-container {
  color: #c09853;
  font-size: 13px;
}
.article-author {
  text-align: right;
  margin-right: 15px;
  color: #b94a48;
  font-size: 11px;
}
.article-read-more {
  margin-left: 5px;
  cursor: pointer;
}
.single-title-name {
  cursor: pointer;
}
.menu_article_content_summary {
  padding-left: 25px;
  margin-bottom: 15px;
  font-size: 13px;
}
.menu_article_content_content {
  padding-left: 10px;
}
#nomoreresults {
  display: none;
}
#nomoreresults .alert {
  text-align: center;
}
#loading {
  display: none;
}
#loading .alert {
  text-align: center;
}
#show-more-items-indicator {
  margin-bottom: 150px;
}
#show-more-items-indicator .alert {
  text-align: center;
  height: 100px;
  padding-top: 75px;
}
#show-more-items-indicator .alert {
  height: 150px;
}
