input(type="hidden", name="res-left-nav-link", value="#{res_nav_link}")
div.well
	ul#mytool-left-nav-bar.nav.nav-list
		li.nav-header My Tools
		li#mytool-html-left-link
			a(href="/mytool/kind/html") HTML pages
		li#mytool-other-left-link
			a(href="/mytool/kind/other") Others