extends ../layout

include page/page

block head-css
	+list_page_header_css

block content
	div.container
		div.span12.my-real-content
			div.span3.left-nav
				include nav/leftNav
			div.span9.my-content
				include articles/list
					
block footer-script
	+list_page_footer_script
	+list_page_footer_script_list
