extends index

block head-css
	link(rel='stylesheet', href='/stylesheets/common/item_list2.css')

block resource_content
	div.items-container
		div.tabbable
			ul.nav.nav-tabs
				li.active
					a(href="#newly-added-tab-content", data-toggle="tab") Newly Added
				li
					a(href="#common-tab-content", data-toggle="tab") Common
				li
					a(href="#track-tab-content", data-toggle="tab") Track
			div.tab-content
				div#newly-added-tab-content.tab-pane.active
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
				div#common-tab-content.tab-pane
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
				div#track-tab-content.tab-pane
					div.single-item
						div.item-name
							a(href="hello") hello
						div.item-desc
							| aa
