input(type="hidden", name="res-left-nav-link", value="#{res_nav_link}")
div.well
	ul#mywork-left-nav-bar.nav.nav-list
		li.nav-header My Work
		li#mywork-finished-left-link
			a(href="/myworkDone") Finished