.single-date-work {
  margin: 10px 0px 20px 15px;
  border-bottom: 1px dotted #f89406;
}
.work-date {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 0;
  background-color: #fcf8e3;
  text-align: center;
}
.single-date-work ol {
  margin-left: 30px;
}
.item-name {
  font-size: 13px;
}
.item-desc {
  font-size: 13px;
  color: #999;
}
.mywork-op-btn-group {
  text-align: right;
  margin-bottom: 3px;
}
#add-edit-work .control-group .control-label {
  width: 120px;
}
#add-edit-work .control-group .controls {
  margin-left: 135px;
}
#add-edit-work #work-title {
  width: 400px;
}
#add-edit-work #work-description {
  width: 400px;
  height: 200px;
}
