.single-date-work
	margin 10px 0px 20px 15px

.work-date
	font-size 14px
	font-weight bold
	padding 2px 0
	background-color #d9edf7
	text-align center

.single-date-work ol
	margin-left 30px

.item-name
	font-size 13px

.item-desc 
	font-size 13px
	color #999

.mywork-op-btn-group
	text-align right
	margin-bottom 3px
	
#add-edit-work .control-group .control-label
	width 120px
	
#add-edit-work .control-group .controls
	margin-left 135px
	
#add-edit-work #work-title
	width 400px
	
#add-edit-work #work-description
	width 400px
	height 200px
	
.work-date-expand
	float left
	margin-left 15px
	cursor pointer
	
.work-date-expand span.icon-fold
	width 11px
	margin-right 5px
	
.work-items li.hover div
	background-color #fcf8e3
	
.item-name-op-group
	display inline-block
	margin-left 10px
	
.item-name-op-group ul
	display none
	
.item-name-op-group ul.inline > li
	padding-left 0px
	cursor pointer