mixin list_page_footer_script
	script(type='text/javascript', src="/javascripts/tree.jquery.js")
	script(type='text/javascript', src="/javascripts/tinymce/tinymce.min.js")
	script(type='text/javascript', src="/javascripts/common/richtext.js")
	script(type='text/javascript', src="/javascripts/common/form/form.js")
	script(type='text/javascript', src="/javascripts/common/tag.js")
	script(type='text/javascript', src="/javascripts/layoutabout/commonApp.js")
	script(type='text/javascript', src="/javascripts/resource/resourceApp.js")
	
mixin list_page_footer_script_list
	script(type='text/javascript', src="/javascripts/resource/resource-list.js")

mixin list_page_header_css
	link(rel='stylesheet', href='/stylesheets/jqtree.css')
	link(rel='stylesheet', href='/stylesheets/resource/res.css')