mixin select_option_list(name, selValue)
	+select_option_list1(mylist[name], selValue)

mixin select_option_list1(items, selValue)
	each item, i in items
		if (typeof selValue !== 'undefined' && item.value == selValue)
			option(value="#{item.value}", selected) #{item.text}
		else
			option(value="#{item.value}") #{item.text}