input(type="hidden", name="res-left-nav-link", value="#{res_nav_link}")
div.well
	ul#resouce-left-nav-bar.nav.nav-list
		li.nav-header Summary
		li#resource-recentlyAdded-left-link
			a(href="/resourceHome/recentlyAdded") Recently Added
		li.divider
		li.nav-header 
			div#resource-menu-title Content Home
				ul.inline.my-edit-menu
					li.icon-edit
			div#resource-left-menu-home