mixin list_tool_items(items)
	if items.length < 1
		div.alert.alert-success.my-tool-group-no-data No items were found!
	else
		each item, i in items
			| hello

mixin operation_bar_on_task
	div.mytool-op-btn-group
		button.btn.btn-mini.btn-primary.btn-add(type="button") Add

mixin list_page_footer_script
	script(type='text/javascript', src="/javascripts/layoutabout/commonApp.js")
	script(type='text/javascript', src="/javascripts/mytool/tool-home.js")
	
mixin list_page_header_css
	link(rel='stylesheet', href='/stylesheets/mytool/mytool.css')